/*
#003972 navy
#70a6ff blue
#99ccff light blue
#414447 dark grey
#858c96 light grey
*/

body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.intro-header {
    padding-top: 150px;
    padding-bottom: 0px;
    text-align: center;
    color: #003972;
    background: url(../img/bg-pattern.png);
}

.section {
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    background: url(../img/bg-pattern.png) repeat;
    background-color: white;
}

.developmentSection {
}

.assessmentSection {

}
.quizsection{

}
.btn {
    color: #858c96;
    border: 1.5px solid #858c96;
    background-color: white;
    padding: .5rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 1.5rem;

}

.btn:hover, .btn:focus, .btn:active, .btn.active {
    color: #f2f2f2;
    border-color: #f2f2f2;
    background-color: #99ccff;
    text-decoration: none;
}

.btn2, .btn3 {
    color: #f2f2f2;
    border: 1.5px solid #f2f2f2;
    background-color: transparent;
    padding: .6rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 1.5rem
}

.btn2:hover, .btn2:focus, .btn2:active, .btn2.active {
    color: #003972;
    border-color: transparent;
    background-color: #f2f2f2;
    text-decoration: none;
}

.btn3:hover, .btn3:focus, .btn3:active, .btn3.active {
    color: #99ccff;
    border-color: transparent;
    background-color: #f2f2f2;
    text-decoration: none;
}

.intro-message {
    position: relative;
    padding-top: 5%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-social-buttons i {
    font-size: 90%;
}

#development {
    padding: 50px 0;
    background-color: #003972;
}

#assessment {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

#quiz {
    padding: 50px 0;
    background-color: #99ccff;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 350;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.tool-name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
}

.lihead {
    font-style: italic;
    color: #4286f4;
}

ul > li, p, td {
    font-size: 13px;
}

ol {
    text-align: justify;
    padding-right: 25px;
}

.ligTitle {
    text-align: left;
}

th {
    background-color: #e6f2ff;
    font-size: 14px;
}

.th1 {
    background-color: #cce5ff;
}

footer {
    padding: 30px 0;
    background-color: #f8f8f8;
}

p.cc {
    margin: 15px 0 0;
}

.box {
    border: 1px solid #99ccff;
    padding: 10px;
}

.icon {
    font-style: bold;
    color: #4286f4;
    font-size: 30px;
    text-align: center;
}

.email {
    text-align: left;
    padding-left: 0%;
}

.text {
    text-align: justify;
    padding-right: 10px;
}

fieldset.sectionContainer {
    border: solid 2px #858c96;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

.sectionContainer > legend {
    width: auto;
    border: none;
    font-size: 20px;
    padding: 0 10px 0 10px;
    color: #858c96;
    text-align: left;
}

.ligandInput {
    width: 50px;
}

.receptorInput {
    width: 50px;
}

td, .th1 {
    text-align: center;
}

.leftInput {
    text-align: left;
    font-size: 15px;
    background-color: transparent;
    width: 160px;
    margin: 0 20px 0 10px;
}

.quiztext {
    text-align: center;
    padding: 0 30px 0 30px;
    font-size: 16px;
}

li.quiztext {
    font-size: 14px;
    text-align: left;
    padding-left: 25%;
    list-style-type: circle;
}

.footer-link {
    color: blue;
    text-decoration-color: underline;
}

#sectionContainer > input {
    text-align: left;
}

.strikeout.row0 {
    background: linear-gradient(to bottom, white, white 43%, #ff9933, #ff9933 57%, white, white 72%); /* Standard syntax */
}

.strikeout.row1 {
    background: linear-gradient(to bottom, white, white 43%, #ff5050, #ff5050 57%, white, white 72%); /* Standard syntax */
}

.strikeout.row2 {
    background: linear-gradient(to bottom, white, white 43%, #33ccff, #33ccff 57%, white, white 72%); /* Standard syntax */
}

.strikeout.row3 {
    background: linear-gradient(to bottom, white, white 43%, #00cc00, #00cc00 57%, white, white 72%); /* Standard syntax */
}

.strikeout.row4 {
    background: linear-gradient(to bottom, white, white 43%, #996633, #996633 57%, white, white 72%); /* Standard syntax */
}

.strikeout.row5 {
    background: linear-gradient(to bottom, white, white 43%, #99339f, #99339f 57%, white, white 72%); /* Standard syntax */
}

input {
    border-radius: 5px;
    text-align: center;
    border: 1.5px solid #858c96;
}

.ligandInput.activeColumn {
    background-color: rgb(255, 255, 255);
}

.ligandInput:disabled.activeColumn {
    background-color: rgba(236, 236, 236, 0.79);
}

.ligandInput {
    background-color: rgba(213, 213, 213, 0.79);
}

.ligandInput:disabled {
    background-color: rgba(213, 213, 213, 0.79);
}

.receptorInput.activeColumn {
    background-color: rgb(255, 255, 255);
}

.receptorInput:disabled.activeColumn {
    background-color: rgba(236, 236, 236, 0.79);;
}

.receptorInput {
    background-color: rgba(213, 213, 213, 0.79);
}

.receptorInput:disabled {
    background-color: rgba(213, 213, 213, 0.79);
}
