fieldset.sectionContainer{
    border: solid 3px #4ba89f;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
    /*margin-right: 40vw;*/
}

.sectionContainer > legend{
    width: auto;
    border: none;
    font-size: 30px;
    padding: 0px 10px 0px 10px;
    font-family: "Arial Black", serif;
    color: #336b63;
    text-align: left
;
}

.ligandInput{
    width: 50px;
}

.receptorInput{
    width: 50px;
}

td {
    /*width: 100px;*/
    text-align: center;
}

.leftInput{
    /*width: 300px;*/
    text-align: left;
    font-size: 17px;
    width: 200px;
    background: white;
    margin: 0px 20px 0px 10px;
}
#relDensity>td>input:disabled{
    background-color: #efefef;
}

#ligandTable>tbody>tr>td>input:disabled{
    background-color: #efefef;
}



/*.strikeout{*/
    /*background: red; !* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(white, black, white); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(white, black, white);!* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(white, black, white); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(white, black, white);*/
    /*background: linear-gradient(0deg, transparent 40%, #000 50%, transparent 60%);!* Standard syntax *!*/
/*}*/

.strikeout.row0{
    background: linear-gradient(0deg, transparent 40%, #ff9933 50%, transparent 60%);/* Standard syntax */
}

.strikeout.row1{
    background: linear-gradient(0deg, transparent 40%, #ff5050 50%, transparent 60%);/* Standard syntax */
}
.strikeout.row2{
    background: linear-gradient(0deg, transparent 40%, #33ccff 50%, transparent 60%);/* Standard syntax */
}

.strikeout.row3{
    background: linear-gradient(0deg, transparent 40%, #00cc00 50%, transparent 60%);/* Standard syntax */
}
.strikeout.row4{
    background: linear-gradient(0deg, transparent 40%, #996633 50%, transparent 60%);/* Standard syntax */
}
.strikeout.row5{
    background: linear-gradient(0deg, transparent 40%, #99339f 50%, transparent 60%);/* Standard syntax */
}

input {
    border-radius: 2px;

}