td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

.relativeDensityInput {
    width: 20px;
    border-color: #56afae;
    border-radius: 3px;
}

.relativeDensityInput:disabled{
    border-color: inherit;
}

.logValues {
    width: 20px;
}

.UISection{
    width: 600px;
    margin: 20px;
}


.receptorsInputCell {
    width: 40px;
    text-align: center;
}

.receptorButtons{
    background-color: #56afae;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    margin-left: 3px;
    border-radius: 10px;
}
.decrement {
    margin-right: 3px;
}

.increment {
    margin-left: 3px;
}

.leftInput {
    width: 200px;
}


.fieldSet{
    border-radius: 5px;
    border-color: #56afae;
}

.fieldSet > legend{
    font-family: "Arial Black";
    font-size: 20px;
    color: #316362;
}

.receptorSubtitle{
    font-family: Calibri;
    text-align: left;
}