.relativeDensityInput {
    width: 20px;
}

.logValues {
    width: 20px;
}

.receptors {
    width: 300px;
    margin: 20px;
}

.ligands {
    width: 300px;
    margin: 20px;
}

.graph {
    width: 300px;
    margin: 20px;
}

td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.receptorsInputCell{
    width: 20px;
}